
section{
    padding: 15px 0px;
    background-attachment: fixed;
    background-image: url("../Media/sparkling.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#forgotP h1{
    font-size: 1.8em;
    margin: 30px 50px;
    color: rgb(46, 74, 114);
}

#forgotP div.forgotP{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    width : 50%;
    height:auto;
    box-shadow: 10px 0px 10px rgb(0, 16, 158);
    background: radial-gradient(white 2%, rgb(60, 105, 189));
    display:block;
}

#forgotP p, #forgotP input#forgotP, #forgotP input#newpassword, #forgotP input#confirmP{
    margin: 5px 20px;
    font-size: 1.0em;
    width: 40%;
}

#forgotP p#name{
   font-size: 1.2em;
   color: rgb(46, 74, 114);
}
input:hover,
.btn:hover {
opacity: 1;
}

input[type=submit] {
background-color:  rgb(60, 105, 189);
color: white;
cursor: pointer;
width: auto;
padding: 15px;
border: none;
border-radius: 4px;
margin-left: 30px;
margin-bottom: 30px;
opacity: 0.85;
display: inline-block;
font-size: 17px;
line-height: 20px;
text-decoration: none; 
}

input[type=submit]:hover {
background-color:  rgb(48, 91, 170);
}


input#forgotP, input#newpassword, input#confirmP{
width: 20%;
padding: 12px;
border: none;
border-radius: 4px;
margin: 5px 10px;
opacity: 0.85;
display: inline-block;
font-size: 17px;
line-height: 20px;
text-decoration: none; 
}
