body {
    background-color: rgb(48, 44, 255);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin: 50px;
}

section h1  {
    font-size: 2.0em;
    font-weight: bold;
    font-variant: small-caps;
}

section blockquote {
    font-size: small;
}
section p:not(#top) {
    font-size: 1.2em;
    text-indent: 30px;
    padding: 20px;
}
section div {
    padding: 20px;

    border: 2px solid white;
}
div#zero {
    border-radius: 25px;
    padding: 30px;
    background-color: teal;
}
div#one { background-color: rgb(0, 250, 255); }
div#two { background-color: rgb(0, 200, 255); }
div#three { background-color: rgb(0, 150, 255); }
div#four { background-color: rgb(0, 100, 255); }

section li p {
    font-size: 1.1em;
}
section a {
    text-decoration: none;
    color: white;
}
section a:hover{
    color:lightgray;
}